# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Dropbox\postgraduate_life\R_workspace\CCCpacakge\chenxing_230417\aaa\inst\python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
